*,
::before,
::after {
  box-sizing: border-box;
}

p, h1, h2, h3, h4, h5, h6,
body {
  margin: 0;
}

.user-has-no-js .app {
  display: none;
}

.hotels {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 10px;
}
