*,
::before,
::after {
  box-sizing: border-box;
}

:root {
  --c-blue: #04a0d1;
  --c-yellow: #e5b91a;
  --c-black: #46525F;
  --c-gray: #94a8bd;
  --f-heading: "Montserrat", sans-serif;
  --f-body: "Muli", "Noto Sans CJK JP", sans-serif;

  background: var(--c-blue);
  height: 100%;
}

body {
  min-height: 100%;
  padding: 20px;
  color: white;
  font-family: var(--f-body);
  background-image: linear-gradient(to bottom, var(--c-blue), white);
}

p, h1, h2, h3, h4, h5, h6,
body {
  margin: 0;
}

button,
input {
  color: inherit;
  font: inherit;
}

button,
[type="button"],
[type="reset"] {
  padding: 0;
  border: none;
  margin: 0;
  background: none;
  border-radius: 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

h1, h2, h3, h4, h5, h6, button, [type="button"], [type="reset"] {
  font-family: var(--f-heading);
  font-weight: 600;
}

input {
  color: var(--c-black);
}

:focus:not(:focus-visible) {
  outline: 0;
}

.user-has-no-js .app {
  display: none;
}

.customise {
  display: flex;
  flex-wrap: wrap;
  margin: -10px;
}
.customise > * {
  margin: 10px;
}

.filters {
  display: flex;
  flex-direction: column;
}

.hotels {
  display: grid;
  /* 280 = 320 - 40px padding */
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 10px;
  align-items: start;
  margin-top: 20px;
}
.hotels:empty {
  display: block;
}
.hotels:empty::before,
.hotels:empty::after {
  display: block;
  text-align: center;
}
.hotels:empty::before {
  content: "No results found";
  font-family: var(--f-heading);
  font-size: 24px;
  font-weight: 600;
}
.hotels:empty::after {
  content: "Update or reset the filters to see more results.";
  font-family: var(--f-body);
}

.filter-reset {
  flex-basis: 100%;
  padding: 5px;
  border: 0;
  margin-top: 10px;
  background: var(--c-gray);
  border-radius: 4px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
